@import "bourbon"
@import "sass/vars"
@import "sass/base"


header
	width: 100%
	.header-top
		margin-bottom: 28px
		.container
			position: relative
			z-index: 10
			.left-bg
				position: absolute
				width: 648px
				height: 508px
				background-image: url(img/header-bg.png)
				background-repeat: no-repeat
				background-position: center center
				left: -247px
				top: 0
				z-index: -1
		.logo
			width: 390px
			margin-left: auto
			text-align: center
			padding-top: 22px
			h1
				margin: 5px 0 0
				padding: 0
				font-size: em(12px)
				font-family: $roboblack
				color: #333447
				text-transform: uppercase
				letter-spacing: 2.4px
				span
					color: $accent
					margin-left: 5px
			h3
				font-family: $roboregular
				color: #333447
				font-size: em(11px)
				margin: 2px 0 0
				padding: 0
				letter-spacing: .2px
		.cart-tel
			width: 165px
			margin-left: auto
			padding-top: 11px
			text-align: center
			.cart
				display: block
				width: 50px
				height: 50px
				border: 2px solid #333447
				border-radius: 50%
				background-image: url(img/cart.png)
				background-repeat: no-repeat
				background-position: 6px 10px
				background-size: 30px 29px
				position: relative
				margin: 0 auto
				span
					position: absolute
					display: block
					right: -7px
					top: 0
					width: 19px
					height: 19px
					border-radius: 50%
					background-color: $accent2
					color: #fff
					text-align: center
					font-size: em(9px)
					font-family: $roboblack
					line-height: 19px
			.tel
				padding-top: 18px
				p
					&:first-child
						font-size: em(19px)
						color: #333447
						font-family: $roboboldcond
						margin: 0
						padding: 0
						span
							font-size: em(22px)
							margin-right: 7px
					&:nth-child(2)
						font-size: em(19px)
						color: #333447
						font-family: $roboboldcond
						margin: -3px 0 0
						padding: 0
				button
					margin-top: 11px
					height: 30px
					width: 160px
					background-color: $accent2
					color: #fff
					font-size: em(8px)
					text-transform: uppercase
					border: none
					border-radius: 16px
					letter-spacing: 2.5px
					outline: none
					@include transition(all .5s)
					&:hover
						border-radius: 0px
						color: $accent
	.header-main
		.container
			padding-top: 15px
			background-color: #fff
			position: relative
			z-index: 10
		.header-mnu
			margin-bottom: 27px
			position: relative
			position: relative
			border-bottom: 3px solid #333447
			z-index: 10
			h2
				position: absolute
				left: -103px
				bottom: 54px
				font-family: "PlayfairDisplayBlack"
				color: $accent2
				font-size: em(172px)
				margin: 0
				padding: 0
				letter-spacing: 40px
				text-transform: uppercase
				line-height: 172px
				@include transform(rotate(-42deg))
				z-index: 10
			.toggle-mnu 
				display: block
				width: 28px
				height: 28px
				margin-left: auto
				display: none
				span:after, span:before 
					content: ""
					position: absolute
					left: 0
					top: 9px

				span:after
					top: 18px

				span 
					position: relative
					display: block

				span, span:after, span:before
					width: 100%
					height: 2px
					background-color: #333447
					transition: all 0.3s
					backface-visibility: hidden
					border-radius: 2px

				&.on span 
					background-color: transparent

				&.on span:before 
					transform: rotate(45deg) translate(-1px, 0px)

				&.on span:after 
					transform: rotate(-45deg) translate(6px, -7px)
			.show-mnu
				display: block !important
			ul
				margin: 0
				padding: 0 0 10px 55px
				position: relative
				z-index: 10
				li
					list-style-type: none
					display: inline-block
					margin-right: 66px
					&:last-child
						margin-right: 0
					

					a
						color: #333447
						text-transform: uppercase
						font-size: em(12px)
						font-family: $roboblack
						letter-spacing: 2.2px
						@include transition(all .4s)
						&:hover,
						&:hover
							text-decoration: none
							color: $accent
						@include transform(translateZ(0))
						@include backface-visibility(hidden)
						position: relative
						&::before
							content: ""
							position: absolute
							z-index: 1
							left: 0px
							right: 100%
							bottom: -16px
							background: $accent
							height: 3px
							@include transition-property(right)
							@include transition-duration(0.4s)
							@include transition-timing-function(ease-out)
						&::after
							content: ''
							position: absolute
							width: 7px
							height: 7px
							background-color: $accent
							bottom: -18px
							right: 100%
							@include transition-property(right)
							@include transition-duration(0.4s)
							@include transition-timing-function(ease-out)
							@include transition(all .4s)
							opacity: 0
						&:hover
							text-decoration: none
							&::before
								right: 0
							&::after
								right: 0
								opacity: 1

		.header-search
			background-color: $accent2
			@include clearfix
			height: 39px
			margin-bottom: 20px
			.search-text
				float: left
				padding-left: 30px
				width: 650px
				p
					margin: 0
					padding: 0
					font-size: em(12px)
					color: #fff
					font-family: $roboregular
					letter-spacing: 2.35px
					line-height: 39px
			.search-form
				float: right
				width: 380px
				margin-left: auto
				text-align: right
				position: relative
				form
					button
						width: 23px
						height: 23px
						background: none
						border: none
						vertical-align: middle
						background-image: url(img/search-button.png)
						background-repeat: no-repeat
						background-position: center center
						display: inline-block
						color:red
						float: right
						text-indent: -10000px
						border: none
						position: absolute
						top: 7px
						right: 10px
						z-index: 2
						cursor: pointer
						outline: none
					input[type="text"] 
						height: 28px
						font-size: 18px
						line-height: 28px
						padding: 0 40px 0 20px
						display: inline-block
						font-family: $roboregular
						border: none
						outline: none
						color: #555
						width: 0px
						position: absolute
						top: 5px
						right: 0
						border-radius: 20px
						background: none
						z-index: 3
						transition: width .5s cubic-bezier(0.000, 0.795, 0.000, 1.000)
						cursor: pointer
					input[type="text"]:focus
						width: 380px
						z-index: 1
						cursor: text
						background-color: #fff
						border: 2px solid #333447
		
		.products-cats
			@include clearfix
			margin-bottom: 20px
			.product
				width: 250px
				height: 250px
				float: left	
				position: relative
				overflow: hidden
				text-align: center
				&:nth-child(1),
				&:nth-child(2),
				&:nth-child(3),
				&:nth-child(4),
				&:nth-child(5)
					margin-bottom: 20px
				a
					display: block
					width: 100%
					height: 100%
					color: #333447
					&:hover
						text-decoration: none
						color: #333447
					.info-top
						position: absolute
						top: -130px
						left: 50%
						width: 210px
						margin-left: -105px
						padding-top: 5px
						@include transition(all .5s)	
						p
							font-size: em(130px)
							text-transform: uppercase
							color: #fff
							font-family: "PlayfairDisplayBlack"	
							padding: 0
							margin: 0
							line-height: 130px
							@include transition(all .5s)
							span
								font-size: 24px
								font-family: $roboregular	
					.info-bottom
						position: relative
						top: 210px
						left: 0
						width: 100%
						height: 40px
						background-color: transparentize(#fff, 0.4)
						@include transition(all .5s)
						p
							position: absolute
							left: 50%
							top: 10px
							font-family: $roboboldcond
							font-size: em(18px)
							width: 100%
							margin: 0
							padding: 0
							@include transform(translate(-50%, -0%))
							span
								display: block
								text-transform: uppercase
					&:hover
						.info-top
							top: 0
						.info-bottom
							top: 0
							height: 100%
							p
								top: 50%
								@include transform(translate(-50%, -50%))

.section-map
	height: 440px
	width: 100%
	background-color: #F0845E
	margin-top: 10px
	position: relative
	z-index: 10
	overflow: hidden
	.container
		height: inherit
		background-image: url(img/home/map.jpg)
		background-repeat: no-repeat
		background-position: left center
		.form-box
			width: 400px
			margin-left: auto
			padding-top: 50px
			form
				.css
					display: block
					position: relative
					margin: 0
					input
						transition: .1s all linear
						width: 100%
						margin-bottom: 19px
						height: 41px
						line-height: 41px
						background-color: transparent
						border: none
						border-bottom: 1px solid #333447
						outline: none
						padding: 0 15px
					label
						position: absolute
						top: 13px
						left: 15px
						color: #aaa
						transition: .1s all linear
						cursor: text
						color: #FFF
						font-family: $roboregular
						text-transform: uppercase
						font-size: em(10px)
						letter-spacing: 4px

				.form-anm
					.css.active 
						label
							top: -18px
						input
							background-color: #E97047
							border-right: 1px solid #333447
							border-left: 1px solid #333447
							border-top: 1px solid #333447
				.chekc
					margin-bottom: 25px
					label
						color: #fff
						font-size: em(11px)
						text-transform: uppercase
						letter-spacing: 5px
					input[type="checkbox"] 
						display: none
						margin-right: 5px
					input[type="checkbox"] + label span 
						display: inline-block
						width: 20px
						height: 20px
						margin: -1px 4px 0 0
						vertical-align: middle
						cursor: pointer;
						-moz-border-radius: 50%
						background-color: transparent !important
					input[type="checkbox"] + label span 
						background-color: transparent
						border: 1px solid #4F525F
						margin-right: 8px
						width: 20px !important
						height: 20px !important
						background-color: #fff
					input[type="checkbox"]:checked + label span 
						background-color: transparent
						background-image: url(img/home/check.png)
						background-position: center center
						background-repeat: no-repeat
						border: 1px solid #4F525F
						width: 20px !important
						height: 20px !important
						background-color: #fff
					input[type="checkbox"] + label span,
					input[type="checkbox"]:checked + label span 
						-webkit-transition: background-color 0.4s linear
						-o-transition: background-color 0.4s linear
						-moz-transition: background-color 0.4s linear
						transition: background-color 0.4s linear
				button
					width: 100%
					height: 50px
					background-color: #fff	
					border: none
					border-radius: 30px	
					color: #393c47
					font-family: $roboblack
					text-transform: uppercase
					font-size: em(12px)
					letter-spacing: 5px
					line-height: 50px	
					@include transition(all .5s)
					&:hover
						border-radius: 0
						background-color: $accent2
						color: #fff
				